@import url('./_vars.css');

html, 
body {
    background:none;
    margin: 0 0;
    padding: 0 0;
}

.inner_container_header_main {
    position: relative;
    margin: 0 0 60px 120px;
    font-size: var(--main-font-size);
    font-family: var(--sidebar-links-font-style);
    text-transform: uppercase;
}

.inner_container_header_main::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -120px;
    width: 100px;
    height: 8px;
    background: #000;
}

.inner_container {
    display: flex;
    position: relative;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.card {
    position: relative;
    padding: 0 15px;
    width: 300px;
    height: 180px;
    margin: 70px 30px;
    background: #C9C9C9;
    border-radius: 8px;
}

.card_front {
    position: absolute;
    width: 300px;
    height: 180px;
    z-index: 1;
}

.card_front_img {
   padding: 20px 35px;
   margin: 0 auto;
}

.card_back {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 180px;
    background: #1A1A1A;
    border-radius: 8px;
    /* transition: transform 0.8s ease; */
    /* transform: rotateX(-180deg); */
}








/* 
.card_back {
    display: flex;
    justify-content: center;
    align-self:center;
    transition: transform 0.8s ease;
    transform: rotateX(-180deg);
    backface-visibility: hidden;
}

 
.card_front {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px 15px; 
    width: 500px;
    height: 250px;
    background: #C9C9C9;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
    box-shadow: 2px 4px 4px 2px #1A1A1A;
}

.card,
.card_front:hover,
.card_front:focus {
    background-color:#000;
    cursor: pointer;
    transform: rotateX(180deg);
} */

